
*::before, *::after {
    box-sizing: border-box;

}
ul,a,li{
    padding: 0;
}
a{
    color: #626777;
}

.font{
    font-family:'Montserrat-Regular';
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('font/Montserrat-Regular.ttf') format('woff2'),
    url('font/Montserrat-Regular.ttf') format('woff');
}
header,footer{
    background-color: #F1F1F3;
}
.nav-item:last-child{
    position: relative;
}
header .nav-item:last-child::before {
    content: '';
    background-image: url("images/Star 1.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 15px;
}
.border-b{
    border-bottom: 3px solid #ffc107;
}
.app-description{
    border-radius: 20px;
    box-shadow: 0 0 5px 1px #ececec;
    padding: 40px 20px;
}
.shadow{
    box-shadow: 0 0 5px 1px #ececec;
}
.color{
    color: #33D185;
}
.color1{
    color: #626777;
}
h3{
    color: #282B36;
}
ul{
    list-style: none;
}
.img{
    border-radius:20px;
}
    button{
        border-radius: 20px!important;
        padding:10px 15px;

}
    .button button{
        width: 100%;
    }
    .button{
        margin-top: 32px;
    }
    .icons a{
        width: 30px;
        height: 30px;
        background: #878B98;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .icons i{
        color: #fff;
    }
    .select.currency{
        position: relative;
    }
    select,input{
        width: 100%;
    }
    .border-radius{
        border-radius: 20px;
    }
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    outline: none;
}
․currency{

}

select::-ms-expand {
    display: none;
}
.select::after {
    content: "";
    position: absolute;
    right: 25px;
    bottom: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #868b91 transparent transparent transparent;
    pointer-events: none;
}
.currency::after{
    content: "";
    position: absolute;
    right: 22px;
    bottom: 22px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #868b91 transparent transparent transparent;
    pointer-events: none;
}
select, input {
    border: none;
    box-shadow: 0 0 5px 1px #ececec;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;

}
